@using Entidades

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container card mt-10">
        <h1 class="display-1 text-center">RFC</h1>
        <h3 class="text-center">Genera tu Registro Federal de Contribuyentes</h3>
        <br />
        <p class="text-center">Solo necesitaremos:</p>
        <p class="text-sm-center">Nombre completo en mayúsculas sin acentos ni diéresis</p>
        <p class="text-sm-center">Fecha de Nacimiento</p>
        <p class="display-6 text-center"><b>Vamos a crear tu RFC</b></p>
        <a href="/Home/IrFormRFC?" class="btn btn-dark ">INICIAR</a>
    </div>
</body>
</html>
